<h1>
    RxJS થ્રોટલ() ઑપરેટર એ ફિલ્ટરિંગ ઑપરેટર છે જે અવલોકનક્ષમ સ્રોતમાંથી મૂલ્ય બહાર કાઢે છે, પછી અન્ય અવલોકનક્ષમ દ્વારા નિર્ધારિત ચોક્કસ સમયગાળા માટે અનુગામી સ્રોત મૂલ્યોને અવગણે છે, પછી આ પ્રક્રિયાને પુનરાવર્તિત કરે છે.</h1>
<h3>signature: throttle(durationSelector: function(value): Observable | Promise): Observable</h3>
<h3>Emit value on the leading edge of an interval, but suppress new values until durationSelector has completed.</h3>
<div><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--OiX83fhS--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/51j604clev8kz0tva2hi.png" alt=""></div>
<button (click)="throttlemethod()">throttle</button>