a{
    text-decoration: none;
    // padding-left: 3.8%;
    text-transform: none;
    color: #13301f;
    border: dotted 1px salmon;
    text-transform: uppercase;
    padding-inline-start: 30px;
    
    
};

div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
};

