<nav class="navbar navbar-expand-lg bg-body-tertiary container ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="container-fluid" >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/take">take</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filter">filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/combineletest">combineletest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/merge">merge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/of">of</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fromevent">fromevent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pluck">pluck</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/switchmap">switchmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/takeuntill">takeuntill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tap">tap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catcherror">catcherror</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zip">zip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/throttletime">throttletime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipe">pipe</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>