<div>
<a href="/pipe">pipe</a>
<a href="/map">map</a>
<a href="/take">take</a>
<a href="/filter">filter</a>
<a href="/first">first</a>
<a href="/combineletest">combineletest</a>
<a href="/merge">merge</a>
<a href="/of">of</a>
<a href="/fromevent">fromevent</a>
<a href="/pluck">pluck</a>
<a href="/switchmap">switchmap</a>
<a href="/takeuntill">takeuntill</a>
<a href="/tap">tap</a>
<a href="/catcherror">catcherror</a>
<a href="/zip">zip</a>
<a href="/throttletime">throttletime</a>
</div>

<router-outlet></router-outlet>
