/* You can add global styles to this file, and also import other style files */

body{
    background-color: #e4d5ed;
}

h1{
    color: #b58a4e;
    text-align: center;
    text-transform: capitalize;
}

h3{
    color: #1d628f;
    text-align: center;
    text-transform: capitalize;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}